


@media screen and (min-width:1134px) {
    body {
        background-color: rgb(246, 253, 252);
        margin: 0%;
        font-family: 'Playfair Display', serif;
        height: 100%;
        width: 100%;
    }
    
    
    
    .statusbar {
        background-color: rgb(226, 255, 253);
        height: 4.5em;
        margin-bottom: 0em;
        padding-top: 30px;
        padding-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    
    .logo {
        font-size: 2em;
        padding-bottom: 2em;
        padding-left: 4em;
        color: black;
        justify-content:center;
        align-content: center;
    }
    
    
    
    
    
    .entwickler {
        list-style-type: none;
        display: inline;
        margin-right: 3em;
        margin-left: 23em;
    }
    
    .story {
        list-style-type: none;
        display: inline;
        margin-right: 3em;
    }
    
    .program {
        list-style-type: none;
        display: inline;
    }
    
    .entwickler:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .story:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .program:hover {
        background-color: rgb(255, 255, 255);
    }
    
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }
    
    
    section {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 75vh;
    
    }
    
    
    
    .main_side {
        display: flex;
        justify-content: space-between;
        
    }
    
    .webbild {
        margin-top: 14em;
        margin-left: 0em;
    }
    
    .main_title {
    
    }
    
    
    .newsfeedy_title {
        font-size: 5em;
        margin-left: 3em;
        margin-top: 1.5em;
        margin-bottom: 0em;
        letter-spacing: 0.05em;
    }
    
    .description {
        font-size: 1.5em;
        font-weight: bolder;
        letter-spacing: 0.06em;
        margin-left: 11em;
    }
    
    .download {
        background-color: rgb(193, 148, 235);
        display: block;
        width: 10em;
        height: 2em;
        padding-top: 0.5em;
        padding-left: 0.7em;
        border-radius: 3em;
        font-size: 1.4em;
        letter-spacing: 0.06em;
        margin-left: 16em;
        margin-top: 3em;
    }
    
    
    .producer {
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.06em;
        margin-left: 40%;
        margin-top: 2%;
    }
    
    .download:hover {
        background-color: rgb(223, 206, 235);
    }
    
}


















@media screen and (min-width: 758px) and (max-width: 1133px) {


    body {
        background-color: rgb(246, 253, 252);
        margin: 0%;
        font-family: 'Playfair Display', serif;
        height: 100%;
        width: 100%;
    }
    
    
    
    .statusbar {
        background-color: rgb(226, 255, 253);
        height: 4.5em;
        margin-bottom: 0em;
        padding-top: 30px;
        padding-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    
    .logo {
        font-size: 2em;
        padding-bottom: 2em;
        padding-left: 4em;
        color: black;
        justify-content:center;
        align-content: center;
    }
    
    
    
    
    
    .entwickler {
        list-style-type: none;
        display: inline;
        margin-right: 3em;
        margin-left: 6em;
    }
    
    .story {
        list-style-type: none;
        display: inline;
        margin-right: 3em;
    }
    
    .program {
        list-style-type: none;
        display: inline;
    }
    
    .entwickler:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .story:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .program:hover {
        background-color: rgb(255, 255, 255);
    }
    
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }
    
    
    
    
    
    section {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 75vh;
    
    }
    
    
    
    .main_side {
        display: flex;
        justify-content: space-between;
        
    }
    
    .webbild {
        margin-top: 14em;
        margin-left: 0em;
    }
    
    .main_title {
    
    }
    
    
    .newsfeedy_title {
        font-size: 2.5em;
        margin-left: 1em;
        margin-top: 4em;
        margin-bottom: 0em;
        letter-spacing: 0.05em;
    }
    
    .description {
        font-size: 1em;
        font-weight: bolder;
        letter-spacing: 0.06em;
        margin-left: 4em;
    }
    
    .download {
        background-color: rgb(193, 148, 235);
        display: block;
        font-size: 1em;
        width: 10em;
        height: 1.8em;
        padding-top: 0.5em;
        padding-left: 0.7em;
        border-radius: 3em;
        letter-spacing: 0.06em;
        margin-left: 8em;
        margin-top: 3em;
    }
    
    
    .producer {
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.06em;
        margin-left: 37%;
        margin-top: 2%;
    }
    
    .download:hover {
        background-color: rgb(223, 206, 235);
    }
    
}










